body{
margin:0px;
background:white;
}
#topbar{
max-width: 1000px;
display:flex;
position: -webkit-sticky;
position: sticky;
top:0px;
}
.button{
width:190px;
border:5px maroon solid;
}
#main{
max-width: 1000px;
margin: auto;
}
#img-div{
background:maroon;
max-width: 1000px;
}
#logo{
width:500px;
position:relative;
left:250px;
}
.mySlides {
display:none;
max-width:1000px;
height:500px;
}