body{
margin:0px;
background:black;
}
#topbar{
display:flex;
position: -webkit-sticky;
position: sticky;
top:0px;
}
.button{
width:190px;
border:5px maroon solid;
}
#main{
max-width: 1000px;
margin: auto;
}
#img-div{
background:maroon;
}
#logo{
width:500px;
position:relative;
left:250px;
}
#map{
width:1000px;
height:800px;
border:none;
}