#Sidebar {
 width:20%;
  height:100%;
  background:gold;
  color:black;
  padding-top:300px;
  text-align:center;
  
}

#main {
 display:flex; 
  
}
body {
 background:navy; 
 color:white;
}
#news {
 color:white;
  padding:60px;
  text-align:center;
  width:100%;
}
#img {
 display:flex; 
}
.class{
color:yellow;  
  
}
.div1 {
 border:2px solid blue; 
}