/* 
    Document   : hsd
    Created on : Jan 25, 2014, 10:56:26 AM
    Author     : theriaultserver
    Description:
        Purpose of the stylesheet follows.
*/
body 
{
    display: table-cell;
    vertical-align: middle;
}
a
{
    color: black;
}

html, body 
{
    height: 100%;
}

html 
{
    display: table;
    margin: auto;
}
.testBlock {
        position: fixed;
        bottom: 0px;
        left: 0px;
        padding: 5px;
        display: block;
}